<html>
<head>
	<% include layout/header %>
</head>
<body>
	<main>
		<% include layout/navbar-aluno %>

		<input type="hidden" id="id_aluno" value="<%= id %>">
		
		<div class="container" style="margin-top: 5vh;">
			<div id="vue" class="row">
				<div v-for="token in tokens" class="col s12 m6 l4" style="margin-top: 5vh;">
					<div class="z-depth-1 grey lighten-5">
						

						<div style="padding: 24px;">
							<h4 class="light-blue-text">#{{token.id}}</h4>
							<h5 class="grey-text text-darken-2">{{token.nome}}</h5>
						</div>

						<div v-show="proximoToken(token)"
						 class="grey lighten-3 default-padding" style="padding: 24px;">
							<b class="light-blue-text">
								Faltam menos de 5 atendimentos para chegar sua vez.
								Você deveria se dirigir à {{token.nome}}
							</b>
						</div>
					</div>

					
				</div>

			</div>
		</div>
	</main>

	<div class="fixed-action-btn hide-on-large-only">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">add</i>
		</a>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
	<script type="text/javascript">
		var socket = io();

		var vue = new Vue({
			el: '#vue', 

			data: {
				tokens: [],
				proximasSenhas: [], 
			},

			methods: {
				proximoToken: function(token) {
					var flag = false;

					this.proximasSenhas.forEach(function(pSenha) {
						if(pSenha.id === token.id) {
							flag = true;
						}
					});

					return flag;
				},

				updateProximosTokens: function(tokens) {
					this.proximasSenhas = tokens;
				}
			},

			mounted: function() {
				this.$http.get('http://localhost:3000/aluno/acompanhamento-senha/' + $('#id_aluno').val())
				.then(response => {
					this.tokens = response.body;	
				});

				console.log('Testing');
			}
		});


		var started = false;
		

		socket.on('proxima-senha', function(data) {
			vue.updateProximosTokens(data.proximas);

			if(started) {

				var audio = new Audio('http://localhost:3000/sound/notification.mp3');
				var count = 1;
				audio.addEventListener('ended', function() {
					if(count < 3) {
						this.play();
						count++;
					}
				}, false);

				audio.play();
			}

			started = true;
		});
	</script>

	<% include layout/footer %>
</body>
</html>