<html>
  <head>
		<title>Senha Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
  <body class="valign-wrapper grey lighten-5" style="color: #616161;">
    <div class="container">
		<div class="row">
			<div class="col s6 offset-l3 z-depth-1 grey lighten-4" style="padding: 24px;">
				<h5>Autenticar Token</h5>
				<form action="/atendente/autenticar-token" method="POST">
					<input name="token" type="hidden" value="<%=token%>"/>
					
					<div class="input-field">
						<input id="senha" name="senha" type="password" /> 	
						<label for="senha"> Senha do aluno </label>
					</div>

					<button class="btn right accent" type="submit">Confirmar</button>
				</form>
			</div>
		</div>
	</div>	
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>