<html>
  <head>
		<title>Senha Digital</title>
   </head>
  <body>
	<h4 style="text-align:center;">Cadastrar Atendente</h4>
    <div class="container">
		<div class="row">
			<div class="col l6 offset-l3 z-depth-1" style="padding:24px; background:#fafafa">
				<div class="input-field">
					<input id="email"  name="email" type="text"/>
					<label for="email">Nome</label>
				</div>	

				<div class="input-field">
					<input id="senha"  name="senha" type="password"/>
					<label for="senha">senha</label>
				</div>

				<div class="input-field">
					<input id="mesa"  name="mesa" type="email"/>
					<label for="email">Mesa</label>
					
				</div>

				<div class="input-field">
					<input id="setor"  name="setor" type="email"/>
					<label for="setor">Setor</label>
				</div>
	
				<input class="btn btn-info right accent" type="submit"/>
			</div>
    	</div>
	</div>
  </body>
</html>