<html>
  <head>
		<title>Senha Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
   </head>
  <body class="valign-wrapper grey lighten-5" style="color: #616161;">
    <div class="container">
		<div class="row">
			<div class="col l6 offset-l3 z-depth-1 grey lighten-4" style="padding:24px; background:#fafafa">
				<h5>Cadastrar Aluno</h5>
				<div class="input-field">
					<input id="nome"  name="nome" type="text"/>
					<label for="nome">Nome</label>
				</div>
				
				<div class="input-field">
					<input id="matricula"  name="matricula" type="text"/>
					<label for="matricula">Matricula</label>
				</div>
				
				<div class="input-field">
					<input id="senha"  name="senha" type="password"/>
					<label for="senha">Senha</label>
				</div>

				<button class="btn right accent" type="submit">Confirmar</button>
			</div>
		</div>
    </div>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>