
<html>
  <head>
		<title>Senha Digital</title>	

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="valign-wrapper grey lighten-5">
    <div class="container">
		<div class="row">
			<div class="col l6 offset-l3 z-depth-1 grey lighten-4" style="padding:24px; background:#fafafa">
				<h5>Cadastrar Setor</h5>
				<div class="input-field">
					<input id="setor"  name="setor" type="text"/>
					<label for="setor">Setor</label>
				</div>
				<button class="btn right accent" type="submit">Confirmar</button>
			</div>
		</div>
    </div>
    
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>