<html>
<head>
<% include layout/header %>

<style>
p {
font-size: 20px;
}

h3 {
margin: 0;
}

h5 {
font-family: 'Raleway', sans-serif;
font-weight: 600;
}
</style>
</head>

<body>
<div class="container">
<div class="row default-padding">
<div class="col l12">
<h1>Créditos</h1>
<p>
Software desenvolvido por alunos do curso de Sistemas de Informação da Faculdade Atenas
no 1º semestre de 2017 sob a supervisão do NPAS - Núcleo de Prática e Análise de Sistemas.
</p>
</div>
</div>

<div class="row default-padding">
<div class="col l4 center-align">
<img src="/img/no_image.png" width="150" height="150" class="circle"/>
<div class="default-padding">
<h5>Igor</h5>
<span><b>5º Período - Codificação</b></span>
</div>
</div>

<div class="col l4 center-align">
<img src="/img/no_image.png" width="150" height="150" class="circle"/>
<div class="default-padding">
<h5>Isabela</h5>
<span><b>1º Período - Documentação</b></span>
</div>
</div>

<div class="col l4 center-align">
<img src="/img/no_image.png" width="150" height="150" class="circle"/>
<div class="default-padding">
<h5>Matheus</h5>
<span><b>5º Período - Sketch/Interface</b></span>
</div>
</div>

<div class="col l4 center-align">
<img src="/img/no_image.png" width="150" height="150" class="circle"/>
<div class="default-padding">
<h5>Peterson</h5>
<span><b>1º Período - Sketch/Interface</b></span>
</div>
</div>

<div class="row">
<div class="divider col l12"></div>
</div>

<div class="col l4 center-align offset-l2">
<img src="/img/no_image.png" width="150" height="150" class="circle"/>
<div class="default-padding">
<h5>Cristiano André Peixoto</h5>
<span><b>Stakeholder/Coordenador do Curso de Sistemas de Informação</b></span>
</div>
</div>

<div class="col l4 center-align">
<img src="/img/no_image.png" width="150" height="150" class="circle"/>
<div class="default-padding">
<h5>Jefferson Tavares de Pádua</h5>
<span><b>SCRUM Master/Analista de Sistemas</b></span>
</div>
</div>
</div>
</div>
</body>
</html>