<html>
<head>
	<% include layout/header %>
</head>

<body class="grey lighten-5">
	<main>
		<% include layout/navbar-atendente %>

		<div style="margin-top: 10vh;">
			<div class="container">
				<div class="row">
					<table class="highlight bordered col l6 offset-l3 z-depth-1 grey lighten-4">
						<thead>
							<tr>
								<td>Senha</td>
								<td>Emissão</td>
							</tr>
						</thead>
						<tbody>
							<% tokens.forEach(function(token) { %>
							<tr>
								<td class="primary-info">#<%= token.token %></td>
								<td class="secondary-info"><%= moment(token.solicitacao).fromNow() %></td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<% include layout/footer %>
</body>
</html>