
<html>
<head>
	<% include layout/header %>
</head>
<body class="valign-wrapper">
	<div class="container">
		<div class="row">
			<div class="col l6 offset-l3 z-depth-1" style="padding:24px; background:#fafafa">
				<form action="/aluno/login" method="POST">
					<div class="input-field ">
						<input id="matricula" name="matricula"type="text" />
						<label for="matricula">Matricula</label>
					</div>
					
					<div class="input-field">
						<input id="senha"  name="senha" type="password"/>
						<label for="senha">Senha</label>
					</div>

					<input class="btn accent right" type="submit" value="Confirmar"/>
				</form>
			</div>
		</div>
	</div>	
</body>
</html>