<html>
<head>
	<% include layout/header %>
</head>
<body  class="valign-wrapper" style="height: 100vh;">
	<div class="container">
		<div class="row">
			<div class="col l6 offset-l3 z-depth-1" style="padding:24px; background:#fafafa">
				<form action="/atendente/login" method="POST">
					<div class="input-field">
						<input id="email"  name="email" type="email"/>
						<label for="email">Email</label>
					</div>

					<div class="input-field">
						<input id="senha"  name="senha" type="password"/>
						<label for="senha">Senha</label>
					</div>
					<button class="btn accent right" 
						type="submit">Confirmar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>