<html>
  <head>
		<% include layout/header %>
   </head>
  <body class="grey lighten-5 grey-text text-darken-2">
	<div class="valign-wrapper" style="min-height: 90vh;">
		<div class="container">
			<div class="row">
				<div class="col l6 offset-l3 z-depth-1 grey lighten-4" style="padding: 24px;">        
					<h1 class="light-blue-text" style="display: inline-block;">#<%=token.id%></h1>
					
					<h5>
						<%=token.aluno%> 
						<a href="/atendente/autenticar-token/<%=token.id%>"
							 class="material-icons right"
							 style="color: #414141;">info_outline</a>
					</h5>
					<div>
						<span class="grey-text darken-text-3">Solicitada <%= moment(token.solicitacao).fromNow() %></span>
						<br/>
						<span class="grey-text">Atendimento iniciado <%= moment(token.inicio_atendimento).fromNow() %></span>
					</div>
					<div style="margin-top: 24px;">
						<a href="/atendente/concluir-atendimento/<%=token.id%>?iniciar_atendimento=true" class="btn right accent">Próximo</a>
						<a href="/atendente/concluir-atendimento/<%=token.id%>" class="btn btn-flat right" style="margin-right: 20px;">Finalizar</a>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<% include layout/footer %>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>