<html>
<head>
	<title>Senha Digital</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col l6 offset-l3">
				
				<h4>Escolher Setor</h4>
				<div class="collection">
					<%setores.forEach(function(setor){%>
						<a class="collection-item" href="/aluno/gerar-senha/<%=setor.id%>"><h5><%=setor.nome%></h5></a>
					<%})%>
				</div>



			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</body>
</html>