<footer class="grey lighten-3 z-depth-1">
	<div class="container-fluid black-text" style="padding: 24px;">
		Software Senha Digital - Faculdade Atenas &copy;. Todos os direitos reservados. <br/>
		<a class="black-text" href="/sistema/creditos"><b>
			Desenvolvido por alunos do Curso de Sistemas de Informação sob a supervisão do
			NPAS - Núcleo de Prática e Análise de Sistemas
		</b></a>
	</div>
</footer>	