
<title>Senha Digital</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<link href="/css/materialize.min.css" rel="stylesheet"/>

<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>


<style>
h3 {
margin: 0;
}

.accent {
background-color: #7593CA;
} 

.accent:hover {
background-color: #7580CA;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

.primary-info {
			    font-family: 'Raleway', sans-serif;
			    font-weight: 300;
			    color: #616161;
			    font-size: 30px;
			}

			.secondary-info {
			    font-family: 'Raleway', sans-serif;
			    font-weight: 600;
			    font-size: 20px;

			    color: #616161;
			}

			thead tr td {
			    font-size: 14px;
			    font-weight: bold;

			    color: #414141;
			    text-transform: uppercase;
			}

			tr td {
			    padding: 25px 20px 25px 20px;
			}
</style>