<nav class="nav-extended" style="background-color: #A8CF45;">
<div class="nav-wrapper">
<ul class="right">
<li>
<a class="btn hide-on-med-and-down accent" 
href="/aluno/selecionar-setor">
SOLICITAR SENHA
</a>
</li>
<li>
<a class="dropdown-button" href="#" data-activates="opcoes">
<i class="material-icons">more_vert</i>
</a>

<ul id="opcoes" class="dropdown-content">
<li><a href="/aluno/logout">SAIR</a></li>
</ul>
</li>
</ul>
</div>

<div class="nav-content"> 
<a 
class="nav-title" 
style="padding-left: 24px;" 
href="/aluno/acompanhamento-senha">
Faculdade Atenas - Acompanhamento de Senha
</a>
</div>
</nav>