<nav class="navbar-fixed" style="background-color: #A8CF45;">
		<div class="nav-wrapper">
			<a href="/atendente/dashboard" class="brand-logo" style="margin-left: 24px;">Senha Digital</a>

			<ul class="right">
				<li>
				<a href="/atendente/realizar-atendimento" class="btn accent">Realizar atendimento</a>
				</li>

				<li>
<a class="dropdown-button" href="#" data-activates="opcoes">
<i class="material-icons">more_vert</i>
</a>

<ul id="opcoes" class="dropdown-content">
<li><a href="/atendente/logout">SAIR</a></li>
</ul>
</li>
</ul>
			</ul>
		</div>
	</nav>